<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686406251376-97iorhoqmg74u93ocbid48ldoqk5pnhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686406251376-97iorhoqmg74u93ocbid48ldoqk5pnhl</string>
	<key>API_KEY</key>
	<string>AIzaSyCy6BMeHWez1B7UnojxtKbcnVjmqkr-Z4Q</string>
	<key>GCM_SENDER_ID</key>
	<string>686406251376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lillianSouza.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>loginviewcode-bbec7</string>
	<key>STORAGE_BUCKET</key>
	<string>loginviewcode-bbec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686406251376:ios:dd3adc2b5a6069a576d5b5</string>
</dict>
</plist>